/* styles.css o agregar-actividades.component.css */
.sweetalert-custom {
    font-family: 'Arial', sans-serif;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  }
  
  .btn-success {
    background-color: #28a745;
    border-color: #28a745;
  }
  
  .btn-danger {
    background-color: #dc3545;
    border-color: #dc3545;
  }